/* Body styling */
body {
  background-color: #8a8789;
  background-image: linear-gradient(to right, #8a8789, #ffffff);
  font-family: "Open Sans", sans-serif;
}

header {
  background: linear-gradient(to right, #6772e5, #67e5c1);
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
}

header:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2rem;
  margin: 0;
}
.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  z-index: 2;
}

#search-input {
  background-color: #fff;
  border: none;
  padding: 0.5rem;
  color: #000;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 1rem;
  min-width: 40rem;
  margin-right: 1rem;
  text-align: center;
}

.search-results-container {
  position: absolute;
  z-index: 3;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  max-height: 20rem;
  overflow-y: auto;
  width: 100%;
  max-width: 40rem;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
}

.search-results-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
}

.search-results-container li {
  margin-bottom: 0.5rem;
}

.search-results-container a {
  color: #000;
  text-decoration: none;
}

.search-results-count {
  text-align: right;
  margin: 0.5rem;
  font-size: 0.8rem;
  color: #999;
}

.search-container input[type="text"]::-ms-clear,
.search-container input[type="text"]::-ms-reveal {
  display: none;
}

.search-container input[type="text"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20.7 4.3c-.4-.4-1-.4-1.4 0L12 10.6 5.7 4.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4L10.6 12l-6.3 6.3c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3L12 13.4l6.3 6.3c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L13.4 12l6.3-6.3c.4-.4.4-1 0-1.4z'%3E%3C/path%3E%3C/svg%3E");
}

.search-container input[type="text"]::-webkit-clear-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20.7 4.3c-.4-.4-1-.4-1.4 0L12 10.6 5.7 4.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4L10.6 12l-6.3 6.3c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3L12 13.4l6.3 6.3c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L13.4 12l6.3-6.3c.4-.4.4-1 0-1.4z'%3E%3C/path%3E%3C/svg%3E");
}

.search-container input[type="text"]::-webkit-search-results-button,
.search-container input[type="text"]::-webkit-search-decoration {
  display: none;
}


.search-clear-button {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

#search-input:not(:placeholder-shown) + .search-clear-button {
  visibility: visible;
}

.search-container .search-clear-button {
  color: red;
  right: 25px;
}





/* Navigation bar styling */
.navbar {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #6772e5;
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 1rem;
}

.navbar-menu li a {
  color: #2e3d49;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: 2px solid #6772e5;
}

.navbar-menu li a:hover {
  background-color: #6772e5;
  color: #fff;
}

.navbar-menu li:first-of-type a {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
  }
  
  .navbar-menu li {
    margin-top: 1rem;
    margin-left: 0;
  }
  
  .navbar-menu li:first-of-type {
    margin-top: 0;
  }
}

.navbar-menu li a.navlink {
  color: #2e3d49;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar-menu li a.navlink:hover {
  background-color: #f6f9fc;
  color: #6772e5;
}

.navbar a.nav-link {
  color: #2e3d49;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: 2px solid #6772e5;
}

.navbar a.nav-link:hover {
  background-color: #6772e5;
  color: #fff;
}

.container {
  display: flex;
}

.snippet-count-container {
  margin-right: 20px;
  width: 200px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px #d9d9d9;
  margin-top: 1rem;
}

.snippet-count-container h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.snippet-count-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.snippet-count-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.snippet-count-container li:last-child {
  margin-bottom: 0;
}

.snippet-count-container li span {
  font-weight: bold;
  margin-right: 5px;
}


.snippet-list-container {
  flex: 1;
}


/* Content styling */
.content {
  padding: 3rem;
}

.section-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2e3d49;
  margin-bottom: 1rem;
}

.snippet {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin-bottom: 1rem;
}

.snippet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.snippet-header h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2e3d49;
  margin: 0;
}

.code-wrapper {
  background-color: #f6f8fa;
  border-radius: 5px;
}

.code-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: linear-gradient(to left, #6772e5, #67e5c1);
  color: #fff;
}

.code-lang {
  font-weight: bold;
  font-size: .75rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.code-box {
  margin: 0;
  padding: 0.5rem;
  font-size: 14px;
  font-family: Consolas, "Courier New", monospace;
  white-space: pre-wrap;
}

.copy-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font-size: .75rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.copy-btn:hover {
  color: #4354a3;
}

.copy-btn:active {
  color: #1a237e;
}

.copy-btn.copied {
  color: #67e5c1;
}








.snippet-description {
  font-size: 1rem;
  color: #6c757d;
  margin: 0.5rem 0;
}




.snippet-language {
  font-size: 0.9rem;
  color: #6c757d;
  margin: 0.5rem 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.button-container button {
  background-color: #fff;
  color: #6772e5;
  border: 1px solid #6772e5;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.button-container button:hover {
  background-color: #6772e5;
  color: #fff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.edit-form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box; /* include padding in width */
}

.edit-form h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2e3d49;
  margin-bottom: 1rem;
}

.edit-form label {
  font-size: 1rem;
  color: #2e3d49;
  margin-bottom: 0.5rem;
  display: block;
}

.edit-form input[type="text"],
.edit-form textarea,
.edit-form select   {
  background-color: #f6f9fc;
  border: none;
  padding: 0.5rem;
  color: #2e3d49;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding-right: 1rem;
}

.edit-form button[type="submit"] {
  background-color: #6772e5;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.edit-form button[type="submit"]:hover {
  background-color: #5a63cc;
}

.edit-form .close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #ff3860;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}






.create-form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box; /* include padding in width */
 
}


.show {
  display: block;
}

.create-form h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2e3d49;
  margin-bottom: 1rem;
}

.create-form label {
  font-size: 1rem;
  color: #2e3d49;
  margin-bottom: 0.5rem;
  display: block;
}

.create-form input[type="text"],
.create-form textarea,
.create-form select   {

  background-color: #f6f9fc;
  border: none;
  padding: 0.5rem;
  color: #2e3d49;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding-right: 1rem;
}






.create-form button[type="submit"] {
  background-color: #6772e5;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.create-form button[type="submit"]:hover {
  background-color: #5a63cc;
}

.create-form .close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #ff3860;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-form .close-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.create-form input[type="text"],
.create-form textarea {
  padding-right: 1rem;
}

.snippet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.snippet-header h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2e3d49;
}

#snippets-list li {
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  justify-content: center;
 background-color:#f6f8fa;
  
}
.snippet-description  {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  

  
}

.snippet-description-label {
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}


.snippet-description-label label {
  position: absolute;
  top: -1.2rem;
  left: 0.2rem;
  font-size: 0.8rem;
  color: #777;
  
}


.form-group {
  position: relative;
  margin-bottom: 1rem;
  
}

.form-group label {
  font-size: 0.8rem;
  color: #777;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  transform-origin: top left;
  transform: translate(0, 0);
  background-color: transparent;
}



.form-group input:focus + label,
.form-group textarea:focus + label,
.form-group select:focus + label {
  transform: translate(-0.4rem, -0.4rem);
}

.form-group input:not(:placeholder-shown) + label,
.form-group textarea:not(:placeholder-shown) + label,
.form-group select:not(:placeholder-shown) + label {
  transform: translate(-0.4rem, -0.4rem);
  font-size: 0.6rem;
  top: 0.1rem;
  left: 0.5rem;
  background-color: transparent;
  padding: 0 0.2rem;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}